@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

.root {
  font-family: "Arimo";
  letter-spacing: -1.5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 90px;
  overflow: hidden;

  .wrapper {
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .pageTitle {
      width: 100%;
      font-size: 33px;
      color: #383838;
      text-align: left;
      margin-top: 0;
    }
    .imgWrapper{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .card1, .card2 {
        width: 20%;
        height: auto;
        margin-top: -16px;
        margin-right: -20px;
      }
      .card3 {
        width: 53%;
        height: auto;
        margin-top: -16px;
      }
    }
    .article {
      width: 100%;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      margin-top: -10px;
      margin-bottom: 20px;
    }

    .nextBtn {
      width: 150px;
      height: 49px;
      font-size: 15px;
      font-weight: 600;
      color: #0B4F9F;
      background-color: #B9DBFD;
      box-shadow: 2px 4px 10px #00000029;
      border: none;
      border-radius: 70px;
      cursor: pointer;
    }
  }
}