@font-face {
  font-family: "Kicker_Trial";
  src: url("../../public/KickerTrial-BlackItalic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../public/Arimo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("../../public//Arimo-Regular.ttf");
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../public/Arimo-Medium.ttf");
}

.content {
  width: 72%;
  min-height: 800px;
  margin: 10px auto;
  h3 {
    font-size: 36px;
    font-family: "Arimo_BLD";
    font-weight: 700;
    margin: 180px 0px 120px 0px;
    letter-spacing: -1px;
  }
  h5 {
    font-size: 20px;
    font-family: "Arimo_BLD";
    font-weight: 700;
    margin: 80px 0px 20px 0px;
    letter-spacing: -1px;
  }
  p {
    font-family: "Arimo_RGR";
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0px;
    letter-spacing: -1px;
    color: #383838;
  }
  .endText {
    margin: 40px 0px 180px 0px;
  }
}
