@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Debussy";
  font-style: normal;
  font-weight: 500;
  src:
    local("Debussy"),
    url("https://fonts.cdnfonts.com/s/4894/debussy.woff") format("woff");
}

@font-face {
  font-family: "Debussy";
  src: url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.eot");
  src:
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.svg#Debussy")
      format("svg");
}

@keyframes dropdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

$color: #383838;
$blue: #6ab5ff;
.childrenWrapper {
  font-size: 0.7rem;
  margin-left: 20vw;
  width: 80vw;
  // @include notebook {
  //    margin-left: 330px;
  // }
}
.navUpper {
  font-size: 0.7rem;
}
.navWrapper {
  position: fixed;
  width: 20vw;
  height: 100%;
  z-index: 999;
  background: #fff;
  padding: 4vh 3vw 0 3vw;
  box-sizing: border-box;
  font-family: "Arimo";
  letter-spacing: -0.03rem;
  overflow: auto;
  box-shadow: 0.1rem 0.2rem 0.52rem rgba(0, 0, 0, 0.16);

  ::-webkit-scrollbar {
    display: none;
  }

  .breakline {
    margin: 0;
    border: 0.5px solid #707070;
    opacity: 0.2;
  }

  .logoWrapper {
    color: $blue;
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100%;
    .logoImg {
      width: 60%;
      height: auto;
      padding-bottom: 1rem;
    }
    img,
    span {
      cursor: pointer;
    }
  }

  .profileWrapper {
    display: flex;
    align-items: center;
    height: 9vh;
    p {
      // font-size: 0.7rem;
      span {
        font-weight: 600;
      }
    }
    a {
      text-decoration: none;
      color: $color;
      display: flex;
    }
    .profile {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 3rem;
      margin-right: 1.25rem;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .profileIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .commentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 17vh;
    font-size: 0.66rem;
    font-weight: 400;
    p {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .challengeButtonSelected {
    background-color: #64dab5 !important;
  }
  .challengeButton {
    letter-spacing: 0;
    display: flex;
    background-color: $blue;
    // background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    border: none;
    border-radius: 5rem;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Debussy";
    font-size: 0.88rem;
    letter-spacing: 0;
    box-shadow: 0.125rem 0.25rem 0.625rem rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 3rem;
    cursor: pointer;
    .challengeIcon {
      position: absolute;
      width: 1.75rem;
      right: 3.9vw;
      height: auto;
    }
    p {
      position: relative;
      padding-right: 1.3rem;
      margin: 0;
    }
  }

  .menuWrapper {
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menuList {
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $color;
    font-weight: 600;
    .menuText {
      margin-left: 1rem;
    }
    .menuIcon {
      width: 1.3rem;
      height: auto;
      color: $color;
    }
  }
  .selected {
    color: $blue;
    .menuIcon {
      color: $blue;
    }
  }

  .subMenuWrapper {
    height: 18vh;
    display: flex;
    align-items: center;
    .subMenuBox {
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .subMenuList {
        font-size: 0.65rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}

/* 모바일 및 태블릿 세로 */
@media (max-width: 768px) {
  .childrenWrapper {
    margin: 9vh 0 0 0;
    width: 100vw;
    height: 91vh;
  }
  .navUpper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    font-size: 1.5rem;
  }
  .navExpand {
    height: 100vh;
  }
  .navWrapper {
    width: 100vw;
    height: 9vh;
    box-shadow: 0 0.2rem 0.52rem rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    padding: 0;

    .logoWrapper {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      position: relative;
      box-sizing: border-box;
      padding: 0 2rem;
      .logoImg {
        width: 30vw;
        height: auto;
        padding: 0;
      }
      .mobileMenuIcon {
        width: 5vh;
        height: auto;
      }
      img,
      span {
        cursor: pointer;
      }
    }
    .mobileMenuDropdownPosition {
      position: fixed;
      width: 100vw;
      top: 9vh;
      z-index: 998;
      overflow: hidden;
    }
    .mobileMenuWrapper {
      box-sizing: border-box;
      height: 91vh;
      padding: 0 3rem 3rem 3rem;
      background-color: #fff;
      animation: dropdown 0.4s ease;
    }
    .mobileProfileWrapper {
      display: flex;
      justify-content: space-between;
      height: 11vh;
      .profile {
        width: 8vw;
        height: 8vw;
        margin-right: 2rem;
      }
    }
    .commentWrapper {
      height: auto;
      width: 45vw;
    }
    .challengeButton {
      font-size: 1.2rem;
      height: 4.5rem;
      padding: 0;
      .challengeIcon {
        position: absolute;
        width: 3rem;
        right: 4rem;
        height: auto;
      }
    }
    .menuWrapper {
      display: block;
      height: auto;
      .menuList {
        margin: 3vh;
        .menuIcon {
          width: 6vw;
        }
        .menuText {
          margin-left: 2rem;
        }
      }
    }
    .subMenuWrapper {
      display: flex;
      justify-content: center;
      .subMenuBox {
        display: inline-block;
        .subMenuList {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: -0.1rem;
        }
      }
    }
  }
}
