@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Kicker_Trial";
  src: url("../../public/KickerTrial-BlackItalic.ttf");
}

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../public/Arimo-Bold.ttf");
}
@font-face {
  font-family: "Debussy";
  src: url('https://fonts.cdnfonts.com/css/debussy');
}

$base: 16px;
$color: #383838;
$blue: #6ab5ff;
.childrenWrapper {
  margin-left: 360px;
  @include displayNone {
    display: none;
  }
  @include mobile {
    margin-left: 280px;
  }
  @include tablet {
    margin-left: 334px;
  }
  // @include notebook {
  // 	margin-left: 330px;
  // }
}
.navWrapper {
  position: fixed;
  width: 400px;
  background: #fff;
  padding: 30px 50px 20px;
  box-sizing: border-box;
  font-family: "Arimo_BLD";
  letter-spacing: -0.6px;
  z-index: 999;
  overflow: auto;
  height: 100vh;

  ::-webkit-scrollbar {
    display: none;
  }

  .breakline {
    margin: 0;
    border: 1px solid #707070;
    opacity: 0.2;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    color: $blue;
    img,
    span {
      font-size: $base + 4;
      cursor: pointer;
    }
  }

  .profileWrapper {
    display: flex;
    align-items: center;
    height: 100px;
    span {
      font-size: $base + 4;
    }
    a {
      text-decoration: none;
      color: $color;
      display: flex;
    }
    .profile {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      margin-right: 30px;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .profileIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .commentWrapper {
    margin-top: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .challengeButtonSelected {
    background-color: #64dab5 !important;
    font-size: $base + 3 !important;
  }
  .challengeButton {
    letter-spacing: 0;
    display: flex;
    margin-bottom: 25px;
    background-color: $blue;
    // background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    border-radius: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Debussy";
    font-size: $base + 5;
    box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    .challengeIcon {
      position: absolute;
      width: 35px;
      right: 60px;
      height: auto;
    }
    p {
      position: relative;
      margin-right: 15px;
    }
  }

  .menuWrapper {
    margin: 45px 0;
    .menuList {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      color: $color;
      .menuText {
        margin-left: 15px;
      }
      .menuIcon {
        width: 30px;
        height: auto;
        color: $color;
      }
    }
    .selected {
      color: $blue;
      .menuIcon {
        color: $blue;
      }
    }
  }

  .subMenuWrapper {
    margin-top: 50px;
    .subMenuList {
      margin: 30px 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  @include displayNone {
    width: 360px;
    display: none;
  }

  /******************* MEDIA 990 **********************/
  /******************* MEDIA 990 **********************/
  /******************* MEDIA 990 **********************/
  /******************* MEDIA 990 **********************/

  @include mobile {
    width: 250px;
    font-size: $base - 5;
    overflow: auto;
    .logoWrapper {
      height: 60px;
      span {
        font-size: $base - 3;
      }
    }

    .profileWrapper {
      height: 80px;
      span {
        font-size: $base - 3;
      }
      .profile {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
    .commentWrapper {
      margin-top: 10px;
      height: 65px;
    }

    .challengeButton {
      height: 50px;
      font-size: $base;
      .challengeIcon {
        width: 18px;
      }
    }

    .menuWrapper {
      // margin-top: 60px;
      .menuList {
        margin: 25px 8px;
        .menuIcon {
          width: 20px;
        }
      }
    }

    .subMenuWrapper {
      margin-top: 40px;
      .subMenuList {
        margin: 22px 10px;
      }
    }
  }

  /******************* MEDIA 1200 **********************/
  /******************* MEDIA 1200 **********************/
  /******************* MEDIA 1200 **********************/
  /******************* MEDIA 1200 **********************/
  /******************* MEDIA 1200 **********************/

  @include tablet {
    width: 340px;
    font-size: $base - 4;
    .logoWrapper {
      height: 88px;
      span {
        font-size: $base - 2;
      }
    }

    .profileWrapper {
      height: 80px;
      span {
        font-size: $base - 2;
      }
      .profile {
        width: 45px;
        height: 45px;
        margin-right: 20px;
      }
    }
    .commentWrapper {
      margin-top: 10px;
      height: 65px;
    }

    .challengeButton {
      height: 55px;
      font-size: $base;
      .challengeIcon {
        width: 35px;
      }
    }

    .menuWrapper {
      // margin-top: 60px;
      .menuList {
        margin: 25px 8px;
        .menuIcon {
          width: 25px;
        }
      }
    }

    .subMenuWrapper {
      margin-top: 40px;
      .subMenuList {
        margin: 22px 10px;
      }
    }
  }

  /******************* MEDIA 1440 **********************/
  /******************* MEDIA 1440 **********************/
  /******************* MEDIA 1440 **********************/
  /******************* MEDIA 1440 **********************/

  // @include notebook {
  // 	width: 330px;
  // 	font-size: $base - 2;
  // 	.logoWrapper {
  // 		height: 70px;
  // 		span {
  // 			font-size: $base;
  // 		}
  // 	}

  // 	.profileWrapper {
  // 		height: 80px;
  // 		span {
  // 			font-size: $base;
  // 		}
  // 		.profile {
  // 			width: 50px;
  // 			height: 50px;
  // 			margin-right: 25px;
  // 		}
  // 	}
  // 	.commentWrapper {
  // 		margin-top: 10px;
  // 		height: 80px;
  // 	}

  // 	.challengeButton {
  // 		height: 65px;
  // 		font-size: $base + 2;
  // 	}

  // 	.menuWrapper {
  // 		margin-top: 70px;
  // 		.menuList {
  // 			margin: 30px 10px;
  // 			.menuIcon {
  // 				width: 30px;
  // 			}
  // 		}
  // 	}

  // 	.subMenuWrapper {
  // 		margin-top: 48px;
  // 		.subMenuList {
  // 			margin: 28px 10px;
  // 		}
  // 	}
  // }
}
