@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Debussy";
  font-style: normal;
  font-weight: 500;
  src:
    local("Debussy"),
    url("https://fonts.cdnfonts.com/s/4894/debussy.woff") format("woff");
}

@font-face {
  font-family: "Debussy";
  src: url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.eot");
  src:
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac78111d5e1e6dc73eb1aaf06ec60963.svg#Debussy")
      format("svg");
}

$color: #383838;
$blue: #6ab5ff;
.childrenWrapper {
  font-size: 0.7rem;
  margin-left: 22vw;
  width: 78vw;
  // @include notebook {
  // 	margin-left: 330px;
  // }
}
.navUpper {
  font-size: 0.75rem;
  position: fixed;
  z-index: 999;
  width: 22vw;
  height: 100vh;
}
.navWrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 4vh 3vw 0 3vw;
  box-sizing: border-box;
  font-family: "Arimo";
  letter-spacing: -0.02rem;
  overflow: auto;
  box-shadow: 0.1rem 0.2rem 0.52rem #cecece;

  ::-webkit-scrollbar {
    display: none;
  }

  .breakline {
    margin: 0;
    border: 0.5px solid #707070;
    opacity: 0.2;
  }

  .logoWrapper {
    color: $blue;
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100%;
    .logoImg {
      width: 60%;
      height: auto;
      padding-bottom: 1rem;
    }
    img,
    span {
      cursor: pointer;
    }
  }

  .profileWrapper {
    display: flex;
    align-items: center;
    height: 9vh;
    p {
      // font-size: 0.7rem;
      span {
        font-weight: 600;
      }
    }
    a {
      text-decoration: none;
      color: $color;
      display: flex;
    }
    .profile {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 3rem;
      margin-right: 1.25rem;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .profileIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .commentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 17vh;
    font-size: 0.66rem;
    font-weight: 400;
    p {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .challengeButtonSelected {
    background-color: #64dab5 !important;
  }
  .challengeButton {
    letter-spacing: 0;
    display: flex;
    background-color: $blue;
    // background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    border: none;
    border-radius: 5rem;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Debussy";
    font-size: 0.88rem;
    letter-spacing: 0;
    box-shadow: 0.125rem 0.25rem 0.625rem rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 3rem;
    cursor: pointer;
    .challengeIcon {
      position: absolute;
      width: 1.75rem;
      right: 3.9vw;
      height: auto;
    }
    p {
      position: relative;
      padding-right: 1.3rem;
      margin: 0;
    }
  }

  .menuWrapper {
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .menuList {
      margin: 1rem 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      color: $color;
      // font-size: 0.7rem;
      font-weight: 600;
      .menuText {
        margin-left: 1rem;
      }
      .menuIcon {
        width: 1.3rem;
        height: auto;
        color: $color;
      }
    }
    .selected {
      color: $blue;
      .menuIcon {
        color: $blue;
      }
    }
  }

  .subMenuWrapper {
    height: 18vh;
    display: flex;
    align-items: center;
    .subMenuBox {
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .subMenuList {
        font-size: 0.65rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

/* 모바일 및 태블릿 세로 */
@media (max-width: 768px) {
  .childrenWrapper {
    margin: 9vh 0 0 0;
    width: 100vw;
    height: 91vh;
  }
  .navUpper {
    width: 100vw;
    height: 9vh;
    position: fixed;
    z-index: 999;
  }
  .navWrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.2rem 0.52rem #cecece;
    display: flex;
    align-items: center;
    padding: 0;

    .logoWrapper {
      width: 30%;
      height: auto;
      padding: 0 0 0 2.5rem;
      .logoImg {
        width: 100%;
        height: auto;
        padding: 0;
      }
      img,
      span {
        cursor: pointer;
      }
    }

    .breakline,
    .profileWrapper,
    .commentWrapper,
    .menuWrapper,
    .subMenuWrapper {
      display: none;
    }
  }
}
