$blue: #6ab5ff;
$navy: #0b4f9f;
$grey1: #383838;
$grey2: #989898;
$grey3: #e1e2e3;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

.upper {
  animation: fadeIn 1s ease-in;
  width: 84%;
  min-height: 600px;
  margin: 80px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $grey1;
  letter-spacing: -1px;

  h3 {
    color: $blue;
    font-size: 32px;
    font-weight: 600;
    margin-top: 130px;
  }

  p {
    font-size: 16px;
    color: $grey1;
    top: 202px;
  }
  .newpostText {
    font-size: 14px;
    font-weight: 600;
    margin: 40px auto;
  }
}

.newpostBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  position: relative;
  top: -20px;
  font-size: 74px;
  font-weight: 700;
  color: #eaeaea;
  border: none;
  background-color: #eaeaea;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;

  .plusWrap {
    width: 66px;
    height: 66px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
  }

  .newpostText {
    font-size: 14px;
    font-weight: 600;
    margin: 40px auto;
  }
}

.postWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 46px; /* column 간격으로 전체 창에 맞게 너비 비율 조정! */
  margin-top: 60px;

  .postBox {
    width: 310px;
    height: 260px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 12px #cecece;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

    .postUser {
      width: 80%;
      display: block;
      align-items: center;
      margin-bottom: 24px;

      .userIcon {
        display: inline-block;
        width: 32px;
        height: auto;
        position: relative;
        top: -4px;
        left: -12px;
        border-radius: 80px;
        box-shadow: 2px 3px 6px #cecece;
        margin-right: 10px;
      }

      .postTitle {
        display: block;
        margin: 0px;
        text-align: left;
        margin: 10px 0px 10px -10px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
      }
      .postHr {
        display: block;
        width: 110%;
        position: relative;
        left: -12px;
        opacity: 30%;
        margin: 20px 0;
      }
      .nickWrap {
        display: inline;
        position: relative;
        top: -14px;
        color: $grey1;
        font-weight: 500;
        font-size: 14px;
        :nth-child(2) {
          margin-left: 4px;
          font-size: 14px;
        }
      }
    }

    .postContainer {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .imgBox {
        overflow: hidden;
        position: relative;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        height: 162px;
        color: #383838;
        top: -20px;
        border: #0b4f9f 1px solid;
        .postImg {
          width: 100%;
          height: auto;
          margin: auto 0;
        }
      }
      .postDate {
        display: block;
        margin: 0px;
        text-align: center;
        color: $grey2;
        font-weight: 600;
        font-size: 14px;
      }

      .postContent {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;

        span {
          display: inline-block;
          max-height: 3.6em;
          line-height: 1.8em;
          vertical-align: top;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
    }
  }
}

.modalBackdrop {
  animation: fadeIn ease-in-out 2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .modal0 {
    display: none;
  }

  .modal1 {
    // animation: fadeIn ease-in-out 1s;
    width: 620px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);

    h3 {
      font-size: 22px;
      margin-top: 60px;
    }
    p {
      width: 90%;
      font-size: 18px;
      font-weight: 600;
      color: $grey2;
      line-height: 26px;
    }

    .postBottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .userWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        .userIcon {
          width: 48px;
          height: auto;
          border-radius: 80px;
          box-shadow: 2px 3px 6px #cecece;
        }
        .nickWrap {
          color: $grey1;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          :nth-child(2) {
            margin-left: 4px;
            margin-bottom: 1px;
            font-size: 14px;
          }
        }
        .postDate {
          padding-top: 6px;
          font-size: 14px;
        }
      }

      .btnWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        button {
          width: 100px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 600;
          color: white;
          border: none;
          border-radius: 80px;
          background-color: $blue;
          margin-top: 10px;
          cursor: pointer;
        }
        :nth-child(2) {
          background-color: #de5f5f;
        }
      }
    }
  }
}
