$blue: #6ab5ff;
$navy: #0b4f9f;
$grey1: #383838;
$grey2: #989898;
$grey3: #e1e2e3;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

/* 태블릿 가로 ~ 웹 브라우저 */
@media (min-width: 769px) {
  .upper {
    animation: fadeIn 1s ease-in;
    width: 77vw;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: $grey1;
    letter-spacing: -0.05rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    .titleSec {
      animation: fadeIn ease-in-out 1s;
      width: 62vw;
      height: 10vh;
      padding: 15vh 0 8vh 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      h3 {
        color: $blue;
        font-size: 1.4rem;
        letter-spacing: -0.05rem;
        margin: 0;
      }
      p {
        letter-spacing: -0.05rem;
        font-size: 0.9rem;
        margin: 0;
      }
    }
  }

  .postWrapper {
    width: 62vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
    margin: 0;

    .postBox {
      height: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      border: none;
      border-radius: 0.4rem;
      box-shadow: 0.1rem 0.2rem 0.6rem #cecece;
      cursor: pointer;

      .newpostBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
        font-size: 5rem;
        font-weight: 700;
        color: #eaeaea;
        border: none;
        background-color: #eaeaea;
        border-radius: 0.4rem 0.4rem 0 0;
        cursor: pointer;
        .plusIcon {
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10rem;
          margin: 0;
        }
      }
      .newpostText {
        height: 40%;
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0;
      }

      .postContainer {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        .imgBox {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 0.4rem 0.4rem 0 0;
          color: #383838;
          border: none;
          .postImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }

      .postUser {
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .postTitle {
          display: flex;
          align-items: center;
          text-align: left;
          margin: 0;
          width: 100%;
          height: 45%;
          font-size: 0.7rem;
          font-weight: 500;
        }
        .postHr {
          width: 100%;
          opacity: 30%;
          margin: 0;
        }
        .nickWrap {
          display: flex;
          align-items: center;
          color: $grey1;
          font-weight: 500;
          font-size: 0.65rem;
          height: 55%;
          .userIcon {
            width: 1.7rem;
            height: auto;
            border-radius: 10rem;
            box-shadow: 0.1rem 0.2rem 0.4rem #cecece;
            margin: 0 0.5rem 0 0;
          }
          span {
            margin: 0;
          }
        }
      }
    }
  }
}

/*
.modalBackdrop {
  animation: fadeIn ease-in-out 2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .modal0 {
    display: none;
  }

  .modal1 {
    // animation: fadeIn ease-in-out 1s;
    width: 620px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);

    h3 {
      font-size: 22px;
      margin-top: 60px;
    }
    p {
      width: 90%;
      font-size: 18px;
      font-weight: 600;
      color: $grey2;
      line-height: 26px;
    }

    .postBottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .userWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        .userIcon {
          width: 48px;
          height: auto;
          border-radius: 80px;
          box-shadow: 2px 3px 6px #cecece;
        }
        .nickWrap {
          color: $grey1;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          :nth-child(2) {
            margin-left: 4px;
            margin-bottom: 1px;
            font-size: 14px;
          }
        }
        .postDate {
          padding-top: 6px;
          font-size: 14px;
        }
      }

      .btnWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        button {
          width: 100px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 600;
          color: white;
          border: none;
          border-radius: 80px;
          background-color: $blue;
          margin-top: 10px;
          cursor: pointer;
        }
        :nth-child(2) {
          background-color: #de5f5f;
        }
      }
    }
  }
}
*/
