.modal0 {
  display: none;
}
.modal1, .modal2 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  .btnWrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 84%;
    gap: 14px;
  }
  .logoutModal, .closeModal {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 50%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: #6ab5ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .closeModal {
    background-color: #DE5F5F;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 140px auto 100px auto;
  }
}

.modalBG1, .modalBG2 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: #7c7c7c;
  opacity: 40%;
  top: 0px;
  left: 0px;
}
.modalBG0 {
  display: none;
}
