$blue: #6ab5ff;
$navy: #0b4f9f;
$grey1: #383838;
$grey2: #989898;
$grey3: #e1e2e3;

@font-face {
  font-family: "Arimo_BLD";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 300;
}

@font-face {
  font-family: "Arimo_MED";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

/* 태블릿 가로 ~ 웹 브라우저 */
@media (min-width: 769px) {
  .root {
    width: 78vw;
    -webkit-box-pack: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    display: flex;
  }

  .upperSection {
    animation: fadeIn 1s ease-in;
    width: 62vw;
    min-height: 100vh;
    font-family: "Arimo_RGR";
    letter-spacing: -0.05rem;
    .titleSection {
      h2 {
        margin: 7vw 0 0 0;
      }
      p {
        font-size: 0.8rem;
        display: inline-block;
      }
      button {
        display: inline-block;
      }
      .deleteBtn {
        margin: 0 2rem;
        width: 4rem;
        height: 1.6rem;
        border-radius: 10rem;
        font-size: 0.7rem;
        color: white;
        border: none;
        background-color: #bb3027;
        box-shadow: 0.1rem 0.2rem 0.6rem #cecece;
        cursor: pointer;
      }
      .backBtnArea {
        float: right;
        margin: 0.5rem 0 0 0;
        .backBtn {
          width: 7rem;
          height: 2rem;
          font-size: 0.9rem;
          background-color: transparent;
          border: none;
          font-weight: 400;
          letter-spacing: -0.05rem;
          cursor: pointer;
          color: #7c7c7c;
          .backArrow {
            width: 0.5rem;
            margin: 0 0.6rem -0.05rem 0;
            height: auto;
          }
        }
      }
    }
    hr {
      margin: 4vh auto;
      opacity: 40%;
    }
    .articleSection {
      font-size: 0.9rem;
      .imgBox {
        color: white;
        background-color: #383838;
        border-radius: 0.3rem;
        width: 100%;
        height: 37vh;
        overflow: hidden;
        position: relative;
        .postImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      .articleBox {
        margin: 2rem auto;
      }
    }
  }


  .modalBack0 {
    display: none;
  }
  .modalBack1 {
    animation: fadeIn ease-in-out 1s;
    position: absolute;
    z-index: 2;
    width: 78vw;
    height: 100vh;
    top: 0;
    left: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    .modal1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20rem;
      height: 20rem;
      box-shadow: 0.1rem 0.2rem 0.6rem #cacaca;
      border-radius: 0.6rem;
      border: 1px solid #e1e2e3;
      background-color: white;
      .btnWrap {
        width: 82%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .cancelBtn, .deleteBtn {
          letter-spacing: -0.05rem;
          font-family: "Arimo_BLD";
          width: 47.5%;
          height: 2.7rem;
          font-size: 0.9rem;
          font-weight: 600;
          align-items: center;
          display: block;
          color: white;
          background-color: #DE5F5F;
          border: none;
          border-radius: 0.4rem;
          margin: 0;
          cursor: pointer;
        }
        .cancelBtn {
          background-color: #6ab5ff;
        }
      }
      p {
        height: 60%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        letter-spacing: -0.05rem;
        font-family: "Arimo_BLD";
        font-weight: 600;
        text-align: center;
        margin: 0;
      }
    }
  }

  .modalBG1 {
    z-index: 1;
    width: 78vw;
    height: 100vh;
    position: absolute;
    animation: fadeIn2 ease-in-out 1s;
    background-color: #7c7c7c;
    opacity: 40%;
    top: 0;
    left: 22vw;
  }
  .modalBG0 {
    display: none;
  }
}