$blue: #6ab5ff;
$navy: #0b4f9f;
$grey1: #383838;
$grey2: #989898;
$grey3: #e1e2e3;

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../../../public/Arimo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("../../../../public/Arimo-Regular.ttf");
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../../../public/Arimo-Medium.ttf");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.upperSection {
  animation: fadeIn 1s ease-in;
  width: 1380px;
  max-height: 1000px;
  margin: 60px 100px 60px 100px;
  // background-color: white;
  //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  //     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Arimo_RGR";
  // color: $grey1;
  letter-spacing: -1px;
  .titleSection {
    h2 {
      margin-top: 120px;
    }
    p {
      display: inline-block;
    }
    button {
      display: inline-block;
    }
    .deleteBtn {
      margin: 0 40px;
      width: 72px;
      border-radius: 100px;
      height: 32px;
      font-size: 12px;
      color: white;
      border: none;
      background-color: #bb3027;
      box-shadow: 1px 2px 6px #cecece;
      cursor: pointer;
    }
    .backBtnArea {
      float: right;
      .backBtn {
        padding-left: 36px;
        width: 160px;
        height: 46px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        font-weight: 400;
        letter-spacing: -1px;
        cursor: pointer;
        color: #7c7c7c;
        .backArrow {
          position: relative;
          top: 2px;
          margin: 0 20px;
          width: 10px;
          height: auto;
        }
      }
    }
  }
  hr {
    margin: 40px auto;
    opacity: 40%;
  }
  .articleSection {
    font-size: 18px;
    .imgBox {
      color: white;
      background-color: #383838;
      border-radius: 6px;
      width: 100%;
      height: 400px;
    }
    .articleBox {
      margin: 40px auto;
    }
  }
}
