@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../../public/Arimo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("../../../public/Arimo-Regular.ttf");
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../../public/Arimo-Medium.ttf");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

$base: 16px;
$color: #383838;
$blue: #6ab5ff;

.settingsForm {
  position: relative;
  min-width: 1618px;
  width: 100%;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  min-height: 1000px;
  height: 100%;
  display: inline-block;
}

.settingsBox {
  width: 900px;
  min-height: 400px;
  //   width: 100%;
  margin: 40px auto 24px auto;
  display: flex;
  /* align-items: flex-end; */
  justify-items: center;
  overflow: auto;
  flex-direction: column;
  /* max-height: calc(100vh - 80px); */
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 12px;
  padding: 20px;
}

.settingsBox2 {
  width: 900px;
  min-height: 60px;
  //   width: 100%;
  margin: auto auto;
  display: flex;
  /* align-items: flex-end; */
  justify-items: center;
  overflow: auto;
  flex-direction: column;
  /* max-height: calc(100vh - 80px); */
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 12px;
  padding: 20px;
}

.email {
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  margin: 30px 20px;
  h3 {
    width: 160px;
    font-family: "Arimo_BLD";
    letter-spacing: -1px;
    display: inline-block;
  }
  p {
    text-align: center;
    width: 532px;
    letter-spacing: -1px;
    font-size: 18px;
    font-family: "Arimo_RGR";
    display: inline-block;
  }
}

.nickname {
  flex-direction: row;
  display: flex;
  margin: 30px 20px;
  vertical-align: middle;
  h3 {
    width: 160px;
    font-family: "Arimo_BLD";
    letter-spacing: -1px;
    display: inline-block;
  }
  p {
    text-align: center;
    width: 532px;
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_RGR";
    display: inline-block;
  }
  button {
    margin: 0px 62px;
  }
}

.title {
  text-align: center;
  font-family: "Arimo_BLD";
  letter-spacing: -1px;
  color: $blue;
  font-size: 32px;
  font-weight: 600;
  margin: 100px auto 0 auto;
}

.subtitle {
  text-align: center;
  margin: 40px auto 20px auto;
  font-family: "Arimo_RGR";
  letter-spacing: -1px;
  color: #7c7c7c;
}

.writedrawal {
  margin: 0 20px;
  vertical-align: middle;
  h3 {
    width: 160px;
    font-family: "Arimo_BLD";
    letter-spacing: -1px;
    display: inline-block;
  }
  p {
    width: 160px;
    letter-spacing: -1px;
    font-family: "Arimo_RGR";

    display: inline-block;
  }
  button {
    margin-left: 594px;
  }
}

.password {
  margin: 30px 20px;
  vertical-align: middle;
  h3 {
    width: 160px;
    font-family: "Arimo_BLD";
    letter-spacing: -1px;
    display: inline-block;
  }
  p {
    margin-left: 260px;
    width: 160px;
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_RGR";
    display: inline-block;
  }
  button {
    margin-left: 594px;
  }
}

.editPassword0 {
  display: none;
}
.editPassword1 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 26%;
  left: 36%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  input {
    letter-spacing: -1px;
    width: 80%;
    font-size: 14px;
    padding-left: 10px;
    height: 50px;
    margin: 50px auto 30px auto;
    align-items: center;
    display: block;
    border-radius: 4px;
    border: 1px solid #e1e2e3;
  }
  .editBtn {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 84%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .closeModal {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 100px auto 80px auto;
  }
}
.editAlias0 {
  display: none;
}
.editAlias1 {
  animation: fadeIn ease-in-out 1s;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 26%;
  left: 36%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;

  input {
    letter-spacing: -1px;
    width: 80%;
    font-size: 14px;
    padding-left: 10px;
    height: 50px;
    margin: 50px auto 30px auto;
    align-items: center;
    display: block;
    border-radius: 4px;
    border: 1px solid #e1e2e3;
  }
  .editBtn {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 84%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .closeModal {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 100px auto 80px auto;
  }
}
.withdrawal0 {
  display: none;
}
.withdrawal1 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 26%;
  left: 36%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  .editBtn2 {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 84%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: #de5f5f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .closeModal {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 140px auto 100px auto;
  }
}

.modalBG1 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 1616px;
  height: 1010px;
  position: absolute;
  background-color: #7c7c7c;
  opacity: 40%;
  top: 0px;
}
.modalBG0 {
  display: none;
}

.chevron {
  height: auto;
}

.chevrons {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 12px;
}
