@font-face {
  font-family: "Arimo_BLD";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 300;
}

@font-face {
  font-family: "Arimo_MED";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
  font-weight: 500;
}

.content {
  width: 72vw;
  min-height: 800px;
  margin: 10px auto;
  table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
    height: 15rem;
    margin: 5rem 0;
  }
  th,
  td {
    border: 1px solid #444444;
    padding: 10px;
    width: 50vw;
    font-size: 18px;
  }

  h3 {
    font-size: 36px;
    font-family: "Arimo_BLD";
    font-weight: 700;
    margin: 180px 0px 120px 0px;
    letter-spacing: -1px;
  }
  h5 {
    font-size: 20px;
    font-family: "Arimo_BLD";
    font-weight: 700;
    margin: 80px 0px 20px 0px;
    letter-spacing: -1px;
  }
  p {
    font-family: "Arimo_RGR";
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0px;
    letter-spacing: -1px;
    color: #383838;
  }
  .endText {
    margin: 40px 0px 180px 0px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 85vw;
    h3 {
      font-size: 3rem;
      margin: 6rem 0px 8rem 0px;
    }
    h5 {
      font-size: max(18px, 1.7rem);
    }
    p {
      font-size: max(15px, 1.4rem);
    }
    table {
      height: 6rem;
    }
    th,
    td {
      font-size: max(15px, 1.4rem);
      border: 1px solid #444444;
      padding: 10px;
      width: 50vw;
      font-size: max(15px, 1.4rem);
    }
  }
}
