@import url('https://fonts.cdnfonts.com/css/debussy');

@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Debussy";
  font-style: normal;
  font-weight: 500;
  src: local("Debussy"), url("https://fonts.cdnfonts.com/s/4894/debussy.woff") format('woff');
}

.Upper {
  background-color: #f8fcff;
  min-height: 100vh;
  display: flex;
  margin: 0;
}

/*
.hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Navigation box css setting */
/*
.Navbar1 {
  background-color: #383838;
  color: white;
  width: 16%;
  height: 80px;
  position: fixed;
  display: block;
}

.Navbar2 {
  background-color: #38fe;
  width: 16%;
  height: 200px;
  position: fixed;
  display: block;
  top: 80px;
}
.Navbar3 {
  background-color: olive;
  width: 16%;
  height: 200px;
  position: fixed;
  display: block;
  top: 280px;
}
.Navbar4 {
  background-color: orange;
  width: 16%;
  height: 200px;
  position: fixed;
  display: block;
  top: 480px;
}
.Navbar5 {
  background-color: blue;
  width: 16%;
  height: 100px;
  position: fixed;
  display: block;
  top: 680px;
} */

/* Navigation 1 inner contents Setting */
/* 
.innerNav {
  display: inline-block;
  padding-left: 20px;
  line-height: 40px;
} */

/* Login Navigation section setting */

/* .LoginBtn {
  width: 80%;
  height: 52px;
  border: none;
  margin: 24px 23px;
  border-radius: 10px;
}

.innerNav_login {
  display: inline-block;
  padding-left: 48px;
  padding-top: 56px;
} */

/* menu Navigation section setting */

/* .innerNav_menu {
  font-size: 18px;
  margin: 20px 10px;
}
.innerNav3 {
  margin: 48px auto;
} */
