@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

/* 모바일 */
@media (max-width: 768px) {
}

/* 브라우저 */
@media (min-width: 769px) {
  .mainSection {
    background-color: #6ab5ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Arimo";
    letter-spacing: -0.05rem;
    overflow: hidden;
  }

  .section1 {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentWrapper {
      height: 40vh;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 5vh;
    }

    .logoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .logoTitle {
        width: 35vw;
        height: auto;
        margin-left: -2vw;
      }
      .subTitle {
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: -1rem;
      }
    }

    .buttonWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1vw;
      margin-top: -2vh;
      button {
        width: 11rem;
        height: 3.8rem;
        font-family: "Arimo";
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: -1px;
        color: #0b4f9f;
        background-color: white;
        border: none;
        box-shadow: 2px 4px 10px #00000029;
        border-radius: 60rem;
        cursor: pointer;
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1vw;
      font-weight: 600;
      color: white;
      button {
        border: none;
        background-color: transparent;
        color: white;
        font-family: "Arimo_BLD";
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: -1px;
        cursor: pointer;
      }
    }
  }
  .section2 {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    .card1 {
      height: 50vh;
      width: auto;
      transform: rotate(22deg);
      margin-left: 6vw;
      margin-bottom: 4vh;
      border-radius: 1.5rem;
      box-shadow: 2px 6px 16px #00000043;
    }
    .cardsWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform-origin: top left;
      transform: rotate(22deg);
      margin-left: 23vh;
      margin-bottom: 2vh;
      .card2,
      .card3 {
        height: 48vh;
        width: auto;
        border-radius: 1.5rem;
        box-shadow: 2px 6px 16px #00000043;
      }
      .card3 {
        margin-top: 2.2vh;
      }
    }
  }
}

/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/

@include mobile;
