.mainSection {
  background-color: #F8FCFF;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logoWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.logoTitle {
  width: 100%;
  height: auto;
}
.subTitle {
  color: #6AB5FF;
  font-size: 23px;
  font-weight: 600;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.introBtn {
  width: 160px;
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #6AB5FF;
  /* box-shadow: 2px 3px 4px #00000029; */
  border-radius: 80px;
  cursor: pointer;
}
.startBtn {
  width: 160px;
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #0B4F9F;
  /* box-shadow: 2px 3px 4px #00000029; */
  border-radius: 80px;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
  color: #383838;
}
