@import "/public/utils"; /*변수파일 import*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  animation: fadeIn 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.wrapper-hidden {
  opacity: 0;
}

@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

.root {
  font-family: "Arimo";
  letter-spacing: -1.5px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 90px;

  .pageTitle {
    width: 80%;
    font-size: 33px;
    color: #383838;
    text-align: left;
    margin-top: 0;
  }
  .wrapper {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 48px;
    
    .imgWrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      .card2, .card3 {
        width: 42%;
        height: auto;
        box-shadow: 2px 6px 10px #00000029;
        border-radius: 20px;
      }
      .card2 {
        margin-left: 34px;
      }
      
      .dummy {
        width: 520px;
        height: auto;
      }

    }
    .article {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .articleTwo {
      width: 100%;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      margin-top: -6px;
    }
  }
  .nextBtn {
    width: 150px;
    height: 49px;
    font-size: 15px;
    font-weight: 600;
    color: #0B4F9F;
    background-color: white;
    box-shadow: 2px 4px 10px #00000029;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    &.endGuideBtn {
      background-color: #B9DBFD;
    }
  }
}

/* info3 */
.imgWrapper_info3{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .article1 {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #6AB5FF;
    background-color: #E0F7FF;
    border-radius: 26px;
    p {
      width: 80%;
      text-align: left;
      font-size: 13px;
    }
    :nth-child(1) {
      font-size: 24px;
      font-weight: 600;
      margin-top: 60px;
      margin-bottom: -40px;
    }
    .card {
      width: 80%;
      height: auto;
      margin-bottom: 40px;
      box-shadow: 2px 6px 10px #00000029;
      border-radius: 16px;
    }
  }

  .article2 {
    width: 26%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #6AB5FF;
    border-radius: 26px;
    .trophy {
      width: 58%;
      height: auto;
      margin-top: 40px;
    }
    p {
      width: 80%;
      text-align: left;
      font-size: 13px;
    }
    :nth-child(2) {
      font-size: 21px;
      font-weight: 600;
      margin-top: 40px;
    }
    :nth-child(3) {
      margin-top: -6px;
      margin-bottom: 40px;
      line-height: 23px;
    }
  }

  .article3 {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    background-color: #F4F4F4;
    border-radius: 26px;
    p {
      width: 80%;
      text-align: center;
    }
    :nth-child(1) {
      font-size: 24px;
      font-weight: 600;
      margin-top: 60px;
    }
    :nth-child(2) {
      font-size: 13px;
      line-height: 30px;
      margin-top: -20px;
    }
    .process {
      width: 60%;
      height: auto;
      margin-bottom: 40px;
    }
  }
}

/* info4 */
.imgWrapper_info4{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .article1 {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #383838;
    font-size: 13px;
    font-weight: 600;
    margin-left: -40px;
    margin-bottom: 20px;
    .chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      :nth-child(1) {
        font-size: 15px;
      }
      .ring {
        width: 70%;
        height: auto;
        box-shadow: 2px 4px 10px #00000029;
        border-radius: 300px;
      }
    }
  }

  .card {
    width: 40%;
    height: auto;
  }
}

/* info5 */
.imgWrapper_info5{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .card4 {
    width: 40%;
    height: auto;
    margin-top: -30px;
  }
  .card5 {
    width: 50%;
    height: auto;
    margin-top: -16px;
    box-shadow: 2px 6px 16px #00000029;
    border-radius: 20px;
  }
}