@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../../public/Arimo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("../../../public/Arimo-Regular.ttf");
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../../public/Arimo-Medium.ttf");
}

$black: #383838;
$blue: #6ab5ff;

.recordsBox {
  width: 340px;
  height: 480px;
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 12px;
  display: inline-block;
  margin: 40px 48px;
  .cardTitle {
    font-family: "Arimo_BLD";
    letter-spacing: -1px;
  }
  .cardDesc {
    font-family: "Arimo_RGR";
    letter-spacing: -1px;
  }
  .cardDate {
    font-size: 14px;
    font-family: "Arimo_RGR";
    letter-spacing: -1px;
    color: #646464;
  }
}

.ground {
  background-color: #f8fcff;
  width: 100%;
  height: 1010px;
}

.titleSec {
  width: 100%;
  min-height: 320px;
  position: relative;
  h3 {
    color: $blue;
    font-size: 32px;
    letter-spacing: -1px;
    display: block;
    position: absolute;
    top: 100px;
    left: 120px;
  }
  p {
    display: block;
    letter-spacing: -1px;
    font-size: 18px;
    position: absolute;
    top: 202px;
    left: 120px;
  }
}

.listUpper {
  display: flex;
  flex-direction: row;
  margin: 0 86px;
  text-align: center;
  align-items: center;
}

.fail {
  height: auto;
  margin: 40px auto;
}

.slider {
  border: none;
  background-color: transparent;
}

.slider1 {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.donutSec {
  width: 450px;
}

.chartUpper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
