@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

.LoginForm {
  /* background-color: #f7f7f7; */
  width: 100vw;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.LoginBox {
  max-width: 1200px;
  width: 100%;
  margin: auto auto;
  display: flex;
  /* align-items: flex-end; */
  justify-items: center;
  overflow: auto;
  flex-direction: column;
  /* max-height: calc(100vh - 80px); */
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 0.5rem;
  padding: 1rem;
}
.LoginTitle {
  font-size: 0.9rem;
  letter-spacing: -0.03rem;
  text-align: center;
  font-family: "Arimo";
  font-weight: 700;
  line-height: 32px;
  margin: 2.5rem auto;
}

.subtitle {
  color: #888;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 2rem auto;
  font-size: 1rem;
}

.formTitle {
  margin: 1rem 0px 1rem 410px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #888;
}

.emailInputBox {
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  background-color: transparent;
  border: 1px solid #e1e2e3;
  border-radius: 5px;
  margin: 0px auto 8px auto;
  font-size: 16px;
  color: #333;
}
.emailInputBox1 {
  /* width: 100%; */
  width: 30%;
  margin: 0px auto 8px auto;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  background-color: transparent;
  border: 1px solid #fe415c;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.emailInputBox:focus {
  /* width: 100%; */
  border: 1px solid #6ab5ff;
}

/* .submitBtn {
  cursor: default;
  border: none;
  background-color: #f2f4f7;
  color: #ccc;
} */

.submitBtn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 380px;
  height: 54px;
  min-height: 50px;
  border-radius: 26px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  margin: 50px auto 20px auto;
  background-color: #6ab5ff;
}

.unactiveBtn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 380px;
  height: 54px;
  min-height: 50px;
  background-color: #f2f4f7;
  border-radius: 26px;
  border: none;
  font-size: 16px;
  color: #ccc;
  cursor: default;
  margin-top: 30px;
  margin: 50px auto 20px auto;
}

.LOGO {
  margin: 0 auto;
  align-items: center;
  padding-top: 56px;
  margin-bottom: 10px;
  padding-left: -2px;
}

.warning {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fe415c;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  margin-left: 410px;
}

.nowarning {
  display: none;
}

.subTitle2 {
  color: #939393;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.025em;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  margin-bottom: 26px;
}

.kakaoLogin {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0px;
  display: inline-block;
}

.kakaotitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #888;
  text-align: center;
  letter-spacing: 0.031em;
  font-size: 11px;
  line-height: 14px;
  text-transform: capitalize;
}

.platforms {
  margin: 0 auto;
}

.findBtnBox {
  display: flex;
  justify-content: center;
}

.findBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 30px auto 30px auto;
}

.findBtn > p {
  margin-bottom: 0;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.forgotten {
  color: #767676;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.0145em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.chevron {
  vertical-align: text-bottom;
  margin-left: 4px;
  opacity: 0.5;
}

.liner {
  width: 380px;
  border: none;
  border-bottom: 1px solid #e1e2e3;
  margin-top: 30px;
}

.partSection {
  margin: 30px auto 15px auto;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.terms {
  margin-right: 12px;
  color: #383838;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.0192em;
  text-align: center;
  line-height: 18px;
  font-weight: 600;
}

.policy {
  color: #383838;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.0192em;
  text-align: center;
  line-height: 18px;
  font-weight: 900;
}

.footer {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 30px;
  letter-spacing: 0.025em;
  text-align: center;
  font-family: "Arimo";
  color: #888;
  font-weight: 400;
}


.modal0 {
  display: none;
}
.modal1, .modal2 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  .closeModal {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 84%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: #6ab5ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 140px auto 100px auto;
  }
}

.modalBG1, .modalBG2 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #7c7c7c;
  opacity: 40%;
  top: 0;
  left: 0;
}
.modalBG0 {
  display: none;
}
