@font-face {
  font-family: "Arimo_RGR";
  src: url("../../public/Arimo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../public/Arimo-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../public/Arimo-Bold.ttf");
  font-weight: 400;
}

/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/
/******************* MEDIA 990 **********************/

@media (min-width: 990px) and (max-width: 1200px) {
  .root {
    max-width: 100%;
  }
  .section1 {
    padding-top: 10px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    min-height: 440px;
    z-index: 0;
    position: relative;
    overflow: hidden;
  }
  .pagetitle {
    position: relative;
    /* font-weight: 00; */
    font-family: "Arimo_BLD";
    font-size: 32px;
    color: #6ab5ff;
    letter-spacing: -1.8px;
    text-align: right;
    /* display: flex; */
    margin-right: 100px;
    margin-top: 120px;
    margin-bottom: 100px;
    z-index: 1;
  }
  .arrowback {
    /* transform: scale(0.1); */
    width: 10px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 24px;
  }
  .Btnbox {
    position: absolute;
    top: 112px;
    width: 180px;
    height: 60px;
    left: 80px;
    z-index: 20;
  }
  .backBtn:hover {
    cursor: pointer;
  }
  .backBtn {
    position: absolute;
    width: 180px;
    font-size: 21px;
    left: 0px;
    color: #747474;
    border: none;
    background-color: transparent;
  }
  .backBtn > p {
    margin-left: 0px;
  }
  .deco1 {
    overflow: hidden;
    position: absolute;
    width: 50%;
    z-index: 0;
    /* transform: scale(0.4); */
    height: auto;
    top: -80px;
    right: 0px;
  }
  .article1 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 0px;
  }
  .article1_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    margin-left: 100px;
    margin-bottom: 0px;
    word-break: break-all;
  }
  /************** section 2 ******************/
  .section2 {
    overflow: hidden;
    position: relative;
    min-height: 520px;
    width: 80%;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
  }
  .deco2 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: scale(0.4);
    bottom: -230px;
    left: -398px;
  }
  .article2 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    margin-right: 100px;
    text-align: right;
    /* margin-top: 160px; */
  }
  .article2_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    text-align: right;
    margin-right: 100px;
  }
  .example1 {
    /* width: 0.4rem; */
    /* transform: scale(0.336); */
    width: 77%;
    margin-top: 20px;
    height: auto;
    position: absolute;
    /* right: -616px;
    top: -240px; */
    right: 88px;
    /* bottom: 160px; */
    z-index: 2;
  }
  /************** section 3 ******************/
  .section3 {
    position: relative;
    min-height: 700px;
    width: 80%;
    padding-top: 60px;
    background-color: white;
    margin: 0 auto;
    z-index: 0;
  }
  .article3 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 0px;
  }
  .article3_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    margin-left: 100px;
    margin-bottom: 0;
  }
  .example2 {
    /* width: 0.4rem; */
    display: flex;
    width: 77%;
    height: auto;
    position: absolute;
    left: 96px;
    margin-top: 40px;
  }
  /************** section 4 ******************/
  .section4 {
    min-height: 580px;
    background-color: #cecece;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    z-index: 10;
  }
  .article4 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
  }
  .article4_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  .example3 {
    width: 78%;
    height: auto;
    margin: 40px auto;
    display: flex;
  }
  /************** section 5 ******************/
  .section5 {
    min-height: 600px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
  }
  .deco3 {
    position: absolute;
    transform: scale(0.4);
    top: -328px;
    overflow: hidden;
    right: -374px;
  }
  .article5 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    margin-top: 0px;
    margin-right: 120px;
    position: relative;
    text-align: right;
  }
  .article5_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
    margin-right: 120px;
    text-align: right;
  }
  .example4 {
    width: 75%;
    height: auto;
    position: absolute;
    right: 108px;
    margin-top: 40px;
  }
  /************** footer ******************/
  .footer {
    min-height: 400px;
    background-color: #dedede;
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .footerLogo {
    width: 14%;
    height: auto;
    margin: 80px 94px;
  }
  .articleFooter {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
    position: absolute;
    left: 100px;
    top: 120px;
  }
  .member1 {
    position: absolute;
    top: 180px;
    left: 100px;
  }
  .member1 > p {
    display: inline-block;
  }
  .PL {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 14px;
  }
  .Leader {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 80px;
    font-size: 14px;
  }
  .DV {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 53px;
    font-size: 14px;
  }
  .member2 > p {
    display: inline-block;
  }
  .member3 > p {
    display: inline-block;
  }
  .member2 {
    position: absolute;
    left: 100px;
    top: 200px;
  }
  .member3 {
    position: absolute;
    left: 100px;
    top: 220px;
  }
  .footerTitle {
    font-family: "Arimo_RGR";
    letter-spacing: -1px;
    position: absolute;
    bottom: 80px;
    left: 100px;
    font-size: 14px;
  }
  .fhr {
    position: absolute;
    bottom: 50px;
    border: #cecece 1px solid;
    width: 100%;
  }
}

/******************* MEDIA 1200 **********************/
/******************* MEDIA 1200 **********************/
/******************* MEDIA 1200 **********************/
/******************* MEDIA 1200 **********************/
/******************* MEDIA 1200 **********************/

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .root {
    width: 100%;
    min-height: 4100px;
  }
  .section1 {
    padding-top: 10px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    min-height: 520px;
    z-index: 0;
  }
  .arrowback {
    /* transform: scale(0.1); */
    width: 10px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 26px;
  }
  .Btnbox {
    position: absolute;
    width: 180px;
    height: 60px;
    margin-left: 100px;
    top: 94px;
    /* top: 94px;
    left: 200px; */
    z-index: 20;
  }
  .backBtn:hover {
    cursor: pointer;
  }
  .backBtn {
    position: absolute;
    width: 180px;
    font-size: 22px;
    left: 0px;
    color: #747474;
    border: none;
    background-color: transparent;
  }
  .backBtn > p {
    margin-left: 0px;
  }
  .deco1 {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    transform: scale(0.4);
    top: -300px;
    right: -140px;
  }
  .pagetitle {
    position: relative;
    /* font-weight: 00; */
    font-family: "Arimo_BLD";
    font-size: 40px;
    color: #6ab5ff;
    letter-spacing: -2.8px;
    text-align: right;
    /* display: flex; */
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 140px;
    z-index: 1;
  }
  .article1 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 18px;
    margin-left: 120px;
    margin-top: 60px;
  }
  .article1_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    margin-left: 120px;
    margin-bottom: 0;
  }
  /* section2 */
  .section2 {
    overflow: hidden;
    position: relative;
    min-height: 660px;
    width: 80%;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
  }
  .deco2 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: scale(0.4);
    bottom: -154px;
    left: -380px;
  }
  .article2 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 18px;
    margin-right: 120px;
    text-align: right;
    margin-top: 40px;
  }
  .article2_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    text-align: right;
    margin-right: 120px;
  }

  .example1 {
    /* width: 0.4rem; */
    /* transform: scale(0.338); */
    width: 78%;
    height: auto;
    position: absolute;
    display: flex;
    right: 110px;
    top: 160px;
    z-index: 2;
  }
  /* section3 */
  .section3 {
    position: relative;
    min-height: 800px;
    width: 80%;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
  }
  .article3 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 18px;
    margin-left: 120px;
    margin-top: 0px;
  }
  .article3_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 12px;
    margin-left: 120px;
    margin-bottom: 0;
  }
  .example2 {
    /* width: 0.4rem; */
    display: flex;
    width: 76%;
    height: auto;
    position: absolute;
    left: 114px;
    margin-top: 40px;
  }
  /* section4 */
  .section4 {
    min-height: 740px;
    background-color: #cecece;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    z-index: 10;
  }
  .article4 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  }
  .article4_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
  }
  .example3 {
    width: 78%;
    height: auto;
    margin: 40px auto;
    align-items: center;
    display: flex;
  }
  /* section5 */
  .section5 {
    min-height: 720px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
  }
  .deco3 {
    position: absolute;
    transform: scale(0.4);
    top: -340px;
    overflow: hidden;
    right: -386px;
  }
  .article5 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 120px;
    position: relative;
    text-align: right;
  }
  .article5_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
    margin-right: 120px;
    text-align: right;
  }
  .example4 {
    width: 78%;
    height: auto;
    position: absolute;
    margin-top: 40px;
    right: 106px;
  }
  /*footer*/
  .footer {
    min-height: 480px;
    background-color: #dedede;
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .footerLogo {
    width: 14%;
    height: auto;
    margin: 80px 114px;
  }
  .articleFooter {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 18px;
    position: absolute;
    left: 120px;
    top: 140px;
  }
  .member1 {
    position: absolute;
    top: 200px;
    left: 120px;
  }
  .member1 > p {
    display: inline-block;
  }
  .PL {
    font-size: 16px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
  }
  .Leader {
    font-size: 16px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 100px;
  }
  .DV {
    font-size: 16px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 70px;
  }
  .member2 > p {
    display: inline-block;
  }
  .member3 > p {
    display: inline-block;
  }
  .member2 {
    position: absolute;
    left: 120px;
    top: 240px;
  }
  .member3 {
    position: absolute;
    left: 120px;
    top: 280px;
  }
  .footerTitle {
    font-family: "Arimo_RGR";
    letter-spacing: -1px;
    position: absolute;
    bottom: 80px;
    left: 120px;
  }
  .fhr {
    position: absolute;
    bottom: 50px;
    border: #cecece 1px solid;
    width: 100%;
  }
}

/******************* MEDIA 1440 **********************/
/******************* MEDIA 1440 **********************/
/******************* MEDIA 1440 **********************/
/******************* MEDIA 1440 **********************/
/******************* MEDIA 1440 **********************/

@media screen and (min-width: 1440px) {
  .root {
    width: 100%;
    min-height: 4100px;
  }
  .section1 {
    padding-top: 10px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    min-height: 520px;
    z-index: 0;
  }
  .arrowback {
    /* transform: scale(0.1); */
    width: 15px;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 32px;
  }
  .Btnbox {
    position: absolute;
    width: 180px;
    height: 60px;
    margin-left: 140px;
    top: 90px;
    /* top: 94px;
    left: 200px; */
    z-index: 20;
  }
  .backBtn:hover {
    cursor: pointer;
  }
  .backBtn {
    position: absolute;
    width: 180px;
    font-size: 28px;
    left: 0px;
    color: #747474;
    border: none;
    background-color: transparent;
  }
  .backBtn > p {
    margin-left: 20px;
  }
  .deco1 {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    transform: scale(0.5);
    top: -300px;
    right: -60px;
  }
  .pagetitle {
    position: relative;
    /* font-weight: 00; */
    font-family: "Arimo_BLD";
    font-size: 52px;
    color: #6ab5ff;
    letter-spacing: -2.8px;
    text-align: right;
    /* display: flex; */
    margin-right: 140px;
    margin-top: 100px;
    margin-bottom: 140px;
    z-index: 1;
  }
  .article1 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    margin-left: 140px;
    margin-top: 60px;
  }
  .article1_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 16px;
    margin-left: 140px;
    margin-bottom: 0;
  }
  /* section2 */
  .section2 {
    overflow: hidden;
    position: relative;
    min-height: 860px;
    width: 80%;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
  }
  .deco2 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: scale(0.5);
    bottom: -160px;
    left: -270px;
  }
  .article2 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    margin-right: 140px;
    text-align: right;
    margin-top: 40px;
  }
  .article2_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 16px;
    text-align: right;
    margin-right: 140px;
  }

  .example1 {
    /* width: 0.4rem; */
    /* transform: scale(0.338); */
    width: 78%;
    height: auto;
    position: absolute;
    display: flex;
    right: 128px;
    margin-top: 40px;
    z-index: 2;
  }
  /* section3 */
  .section3 {
    position: relative;
    min-height: 1000px;
    width: 80%;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
  }
  .article3 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    margin-left: 140px;
    margin-top: 0px;
  }
  .article3_sub {
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    font-size: 16px;
    margin-left: 140px;
    margin-bottom: 0;
  }
  .example2 {
    /* width: 0.4rem; */
    display: flex;
    width: 77%;
    height: auto;
    position: absolute;
    left: 136px;
    margin-top: 40px;
  }
  /* section4 */
  .section4 {
    min-height: 1000px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    z-index: 10;
  }
  .article4 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
  }
  .article4_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }
  .example3 {
    width: 78%;
    height: auto;
    margin: 40px auto;
    align-items: center;
    display: flex;
  }
  /* section5 */
  .section5 {
    min-height: 900px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
  }
  .deco3 {
    position: absolute;
    transform: scale(0.5);
    top: -350px;
    overflow: hidden;
    right: -370px;
  }
  .article5 {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    margin-top: 0px;
    margin-right: 140px;
    position: relative;
    text-align: right;
  }
  .article5_sub {
    font-family: "Arimo_MED";
    /* font-weight: 700; */
    letter-spacing: -1px;
    font-size: 16px;
    position: relative;
    margin: 0 auto;
    margin-right: 140px;
    text-align: right;
  }
  .example4 {
    width: 78%;
    height: auto;
    position: absolute;
    margin-top: 40px;
    right: 122px;
  }
  /*footer*/
  .footer {
    min-height: 460px;
    background-color: #dedede;
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .footerLogo {
    width: 12%;
    height: auto;
    margin: 80px 114px;
  }
  .articleFooter {
    font-family: "Arimo_MED";
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    position: absolute;
    left: 120px;
    top: 120px;
  }
  .member1 {
    position: absolute;
    top: 180px;
    left: 120px;
  }
  .member1 > p {
    display: inline-block;
  }
  .PL {
    font-size: 18px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
  }
  .Leader {
    font-size: 18px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 100px;
  }
  .DV {
    font-size: 18px;
    font-family: "Arimo_MED";
    letter-spacing: -1px;
    margin-left: 64px;
  }
  .member2 > p {
    display: inline-block;
  }
  .member3 > p {
    display: inline-block;
  }
  .member2 {
    position: absolute;
    left: 120px;
    top: 220px;
  }
  .member3 {
    position: absolute;
    left: 120px;
    top: 260px;
  }
  .footerTitle {
    font-family: "Arimo_RGR";
    letter-spacing: -1px;
    position: absolute;
    bottom: 100px;
    left: 120px;
    font-size: 18px;
  }
  .fhr {
    position: absolute;
    bottom: 70px;
    border: #cecece 1px solid;
    width: 100%;
  }
}