@import "/public/utils"; /*변수파일 import*/

@font-face {
  font-family: "Kicker_Trial";
  src: url("../../public/KickerTrial-BlackItalic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Arimo_BLD";
  src: url("../../public/Arimo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Arimo_RGR";
  src: url("../../public//Arimo-Regular.ttf");
}

@font-face {
  font-family: "Arimo_MED";
  src: url("../../public/Arimo-Medium.ttf");
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeIn2 {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 0.4;
//   }
// }

$base: 16px;
$color: #383838;
$blue: #6ab5ff;

.Upper {
  /* background-color: #f7f7f7; */
  width: 100%;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  min-height: 1080px;
  height: 100%;
  display: flex;
}

.signUpBox {
  max-width: 1200px;
  width: 100%;
  margin: auto auto;
  display: flex;
  position: relative;
  /* align-items: flex-end; */
  justify-items: center;
  overflow: auto;
  flex-direction: column;
  //   max-height: calc(100vh - 80px);
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 5px;
  padding: 20px;
  span {
    margin: 10px auto;
  }
  h4 {
    font-size: 20px;
    letter-spacing: -0.023em;
    text-align: center;
    font-family: "pretendard-sb";
    font-weight: 700;
    line-height: 32px;
    display: block;
    margin: 20px auto;
  }
  h5 {
    margin: 20px auto 7px 384px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #888;
  }
  .emailCheck {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 8px 12px;
    outline: none;
    border: 1px solid #e1e2e3;
    font-size: 12px;
    border-radius: 5px;
    color: #333;
    padding: 0px 12px;
    height: 52px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    bottom: 2px;
  }
  .emailInputBox {
    height: 50px;
    display: inline-block;
    min-height: 50px;
    padding: 0px 12px;
    width: 330px;
    outline: none;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .emailCheck + span {
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fe415c;
    margin-left: 384px;
    display: block;
    // text-align: left;
    font-size: 12px;
    line-height: 16px;
    margin: 8px auto;
  }
  .nameInputBox {
    width: 408px;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 8px auto;
    font-size: 16px;
    color: #333;
  }
  .nameInputBox + span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fe415c;
    margin-left: 384px;
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .nicknameInputBox {
    width: 408px;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 8px auto;
    font-size: 16px;
    color: #333;
  }
  .nicknameInputBox1 {
    width: 408px;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fe415c;
    border-radius: 5px;
    margin: 8px auto;
    font-size: 16px;
    color: #333;
  }
  .nicknameInputBox1 + span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fe415c;
    margin-left: 384px;
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .passwordInputBox1 {
    width: 408px;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 8px auto;
    font-size: 16px;
    color: #333;
  }
  .passwordInputBox1 + span {
    margin-left: 384px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fe415c;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .passwordInputBox2 {
    width: 408px;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 8px auto;
    font-size: 16px;
    color: #333;
  }
  .passwordInputBox2 + span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fe415c;
    text-align: left;
    margin-left: 384px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .passwordInfo {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 10px 0px 7px 0px;
    color: #888;
    margin-bottom: 20px;
  }
}

.agreeForm1 {
  margin: 4px auto;
  width: 430px;
  h5 {
    margin: 20px 0px 7px 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-left: 10px;
  }
  input {
    position: relative;
    top: 2px;
  }
  hr {
    color: #888;
    opacity: 0.4;
    margin: 10px 0px 5px 0px;
  }
}
.agreeForm2 {
  margin: 4px auto;
  width: 430px;
  h5 {
    margin: 20px 0px 7px 0px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
    display: inline-block;
  }
  input {
    position: relative;
    top: 2px;
  }
}
.agreeForm3 {
  margin: 4px auto;
  width: 430px;
  h5 {
    margin: 20px 0px 7px 0px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
    display: inline-block;
  }
  input {
    position: relative;
    top: 2px;
  }
}
.agreeForm4 {
  margin: 4px auto;
  width: 430px;
  h5 {
    margin: 20px 0px 7px 0px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
    display: inline-block;
  }
  input {
    position: relative;
    top: 2px;
  }
}
.agreeForm5 {
  margin: 4px auto;
  width: 430px;
  h5 {
    margin: 20px 0px 7px 0px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    display: inline-block;
  }
  input {
    position: relative;
    top: 2px;
  }
}
.closeBtn {
  position: absolute;
  left: 60px;
  top: 54px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.signUpBtn1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 436px;
  font-weight: 600;
  font-size: 16px;
  height: 54px;
  min-height: 50px;
  border-radius: 26px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 30px auto;
  background-color: #6ab5ff;
}
.signUpBtn0 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  width: 436px;
  font-size: 16px;
  height: 54px;
  min-height: 50px;
  border-radius: 26px;
  border: none;
  font-size: 16px;
  color: white;
  margin: 30px auto;
  background-color: #eaeaea;
}

.modal0 {
  display: none;
}
.modal1, .modal2 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  .closeModal {
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    width: 84%;
    height: 60px;
    font-size: 18px;
    margin: 30px auto;
    align-items: center;
    display: block;
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 140px auto 100px auto;
  }
}

.modalBG1, .modalBG2 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: #7c7c7c;
  opacity: 40%;
  top: 0px;
  left: 0px;
}
.modalBG0 {
  display: none;
}
