.difficultyBtn {
  position: relative;
  width: 5.65vw;
  height: 5.65vw;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  color: black;
  border: none;
  text-decoration: none;
  background-color: white;
  border: 1px solid #e1e2e3;
  border-radius: 10rem;
  cursor: pointer;
}
.clicked {
  background-color: #0b4f9f;
  color: white;
}
