
/* 태블릿 가로 ~ 웹 브라우저 */
@media (min-width: 769px) {
  .textbox {
    width: 34vw;
    height: 6vh;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: black;
    border: none;
    text-decoration: none;
    background-color: white;
    border: 1px solid #e1e2e3;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;

    &:focus {
      outline: none;
      border-color: #6ab5ff;
      border-width: 2px;
      box-shadow: 0 0 5px #b7dbff;
    }
  }
}