@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
}

$base: 16px;
$color: #383838;
$blue: #6ab5ff;

/* 태블릿 가로 ~ 웹 브라우저 */
.Upper {
  width: 78vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adsSection {
  width: 78vw;
  background-color: black;
  .ads_banner1 {
    width: 100%;
    height: auto;
  }
  button {
    position: absolute;
    bottom: 1.6rem;
    left: 4.8rem;
    width: 5rem;
    height: 1.85rem;
    border-radius: 10rem;
    border: none;
    background-color: white;
    color: #393939;
    font-family: "Arimo";
    font-weight: 700;
    font-size: 0.65rem;
    cursor: pointer;
  }
}

.people_news {
  width: 66vw;
  height: 34vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 6vh 0 8vh 0;
  .title {
    display: flex;
    align-items: center;
    span {
      letter-spacing: -0.05rem;
      font-family: "Arimo";
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
      color: #40e358;
    }
    .newsIcon {
      width: 1.3rem;
      height: auto;
      margin: 0 0 0 1rem;
    }
  }
  .newsBox {
    width: 100%;
    height: 13.5rem;
    background-color: white;
    box-shadow: 0.1rem 0.2rem 0.45rem #cecece;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .newsImage {
      width: 10rem;
      height: 10rem;
      margin: 0 2rem 0 2rem;
      border-radius: 0.5rem;
      object-fit: cover;
      object-position: center center;
    }
    .newsText {
      letter-spacing: -0.05rem;
      font-weight: 400;
      font-family: "Arimo";
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 2rem 0 0;
      width: auto;
      height: 10rem;
      h3 {
        font-size: 0.9rem;
        font-weight: 700;
        margin: 0;
      }
      p {
        font-size: 0.77rem;
        line-height: 1.2rem;
      }
      button {
        width: 5rem;
        height: 1.85rem;
        border-radius: 10rem;
        border: none;
        background-color: #d0efff;
        color: #393939;
        font-size: 0.7rem;
        font-weight: 700;
        font-family: "Arimo";
        letter-spacing: -0.05rem;
        margin: 0;
        cursor: pointer;
      }
    }
  }
}

.weekly_challenge {
  width: 66vw;
  font-size: 0.9rem;
  position: relative;
  margin: 0 0 5rem 0;
  br {
    display: none;
  }
  h2 {
    letter-spacing: -0.05rem;
    font-size: 1.2rem;
    font-family: "Arimo";
    font-weight: 600;
    margin: 0;
    color: #0b4f9f;
  }
  h4 {
    letter-spacing: -0.05rem;
    font-family: "Arimo";
    font-weight: 600;
    margin: 1.2rem 0 0.8rem 0;
  }
  .subText {
    color: #0b4f9f;
    margin: 0;
  }
  p {
    margin: 0;
    line-height: 1.6rem;
    font-family: "Arimo";
    font-weight: 400;
    letter-spacing: -0.05rem;
  }
  .student1 {
    position: absolute;
    width: 33vw;
    height: auto;
    right: -3vw;
    bottom: -12vh;
  }
  .student_info {
    font-size: 0.9rem;
    font-family: "Arimo";
    font-weight: 400;
    color: #0b4f9f;
    text-align: left;
    line-height: 1.5rem;
    position: absolute;
    bottom: 7rem;
    right: -2rem;
  }
}

/* 모바일 및 태블릿 세로 */
@media (max-width: 768px) {
  .Upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adsSection {
    width: 100vw;
    background-color: black;
    .ads_banner1 {
      width: 100%;
      height: auto;
    }
    button {
      display: none;
    }
  }
  
  .people_news {
    width: 88vw;
    height: 42vh;
    margin: 0;
    margin: 3vh 0 5vh 0;
    .title {
      display: flex;
      align-items: center;
      span {
        font-size: 1.5rem;
        margin: 0;
      }
      .newsIcon {
        width: 1.5rem;
      }
    }
    .newsBox {
      width: 100%;
      height: 90%;
      box-shadow: 0.15rem 0.3rem 0.6rem #cecece;
      border-radius: 1rem;
      flex-direction: column;
      .newsImage {
        width: 90%;
        height: 38%;
        margin: 1.8rem 0 0 0;
        border-radius: 0.8rem;
      }
      .newsText {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 88%;
        height: auto;
        h3 {
          font-size: 1.1rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        button {
          width: 10rem;
          height: 3rem;
          font-size: 0.9rem;
          margin: 0 0 1.8rem 0;
          box-shadow: 0.15rem 0.3rem 0.6rem #cecece;
        }
      }
    }
  }
  
  .weekly_challenge {
    width: 86vw;
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5rem 0;
    text-align: center;
    line-height: 1.8rem;
    h2 {
      font-size: 1.5rem;
      margin: 0;
    }
    h4 {
      margin: 1.8rem 0 1.5rem 0;
    }
    .subText {
      margin: 0 0 1.5rem 0;
    }
    p {
      line-height: 2rem;
    }
    .student1 {
      display: none;
    }
    .student_info {
      font-size: 1.35rem;
      text-align: center;
      position: relative;
      bottom: 0;
      right: 0;
      margin-top: 1.5rem;
      line-height: 1.8rem;
    }
  }  
}
/* 모달 삭제
.modal0 {
  display: none;
}
.modal1 {
  animation: fadeIn ease-in-out 1s;
  position: sticky;
  box-shadow: 2px 4px 12px #cacaca;
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  width: 460px;
  height: 420px;
  border-radius: 12px;
  border: 1px solid #e1e2e3;
  background-color: white;
  .buttonWrapper {
    width: 84%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.05rem;
    font-family: "Arimo_BLD";
    font-size: 18px;
    margin: 30px auto;
    .closeModal {
      width: 47%;
      height: 60px;
      align-items: center;
      display: block;
      color: white;
      background-color: $blue;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    button:nth-child(1) {
      background-color: #E0E0E0;
    }
  }
  p {
    font-size: 18px;
    letter-spacing: -0.05rem;
    font-family: "Arimo_BLD";
    font-weight: 600;
    text-align: center;
    margin: 140px auto 100px auto;
  }
}

.modalBG1 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: #7c7c7c;
  opacity: 40%;
  top: 0px;
  left: 0px;
}
.modalBG0 {
  display: none;
}
*/
