.difficultyBtn {
  position: relative;
  width: 70px;
  height: 46px;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: -1px;
  color: black;
  border: none;
  text-decoration: none;
  background-color: white;
  border: 1px solid #E1E2E3;
  border-radius: 10px;
  cursor: pointer;
}
.clicked {
  background-color: #0B4F9F;
  color: white;
}
