$skyblue: #B9DBFD;
$blue: #6AB5FF;
$navy: #0B4F9F;
$grey1: #383838;
$grey2: #989898;
$grey3: #E1E2E3;

.root {
  width: 110%;
  height: 670px;
  /* background-color: #B9DBFD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  font-family: 'Arimo_BLD';
  font-weight: 600;
  letter-spacing: -1px;
  .board1, .mindBox, .timerBox, .comBox {
    box-shadow: 2px 4px 10px #00000029;
    border-radius: 30px;
  }
  .board1 {
    width: 45%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 20px;
    align-items: center;
    background-color: white;
    .title {
      font-family: 'Kicker_Trial';
      color: $blue;
      font-size: 26px;
    }
    .content{
      color: $navy;
      font-size: 24px;
      margin-top: 10px;
    }
    .progress {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      align-items: flex-start;
      margin-top: 35px;
      .curProgress {
        font-size: 14px;
        span {
          font-size: 22px;
          color: $blue;
        }
      }
      .progressBar {
        height: 40px;
        width: 100%;
        background-color: white;
        box-shadow: 2px 4px 6px #00000029;
        border-radius: 70px;
      }
      .btnWrapper {
        button:not(:last-child) {
          margin-right: 6px;
        }
      }
    }    
  }
  .board2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 45%;
    font-size: 14px;
    .mindBox, .timerBox, .comBox {
      width: 100%;
      height: 120px;
      padding: 30px;
    }
    
    .mindBox {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        width: 100%;
        font-size: 18px;
      }
    }
    .timerBox {
      background-color: $navy;
      color: white;
      &.stopped {
        background-color: #40E358;
      }
    }
    .comBox {
      background-color: #F7CECD;
      button {
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4%;
        background-color: #F7CECD;
        color: #CC1A1A;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        &.stopped {
          background-color: $skyblue;
          color: #5D5D5D;
        }
      }
      &.stopped {
        background-color: $skyblue;
      }
      .stopIcon {
        width: 7%;
        height: auto;
      }
      .arrowIcon {
        width: 4%;
        height: auto;
      }
    }
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: white;
  .time {
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .buttons {
    display: flex;
    gap: 16px;
    button {
      padding: 8px 16px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
  }
}

