$skyblue: #B9DBFD;
$blue: #6AB5FF;
$navy: #0B4F9F;
$grey1: #383838;
$grey2: #989898;
$grey3: #E1E2E3;

.timerBox {
  box-shadow: 2px 4px 10px #00000029;
  border-radius: 30px;
  width: 100%;
  height: 120px;
  padding: 30px;
  background-color: $navy;
  color: white;
  &.stopped {
    background-color: #40E358;
  }
}
.comBox {
  background-color: #F7CECD;
  button {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    background-color: #F7CECD;
    color: #CC1A1A;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    &.stopped {
      background-color: $skyblue;
      color: #5D5D5D;
    }
  }
  &.stopped {
    background-color: $skyblue;
  }
  .stopIcon {
    width: 7%;
    height: auto;
  }
  .arrowIcon {
    width: 4%;
    height: auto;
  }
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: white;
  .time {
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .buttons {
    display: flex;
    gap: 16px;
    button {
      padding: 8px 16px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
  }
}

.progress {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #007bff; /* 진행 바의 색상, 여기서는 파란색을 사용합니다. */
  transition: width 0.2s ease-in; /* 너비 변화에 애니메이션 효과를 줍니다. */
}